@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
$text-color: #0D1B26;
$theme-color: #223645;
$primary-color:#8FB569;
$secondary-color:#FB245C;
$ternary-color: #ccf962;
$menu-item-color: white;
$link-color: $secondary-color;
$text-font: Poppins,
Verdana,
arial,
sans-serif;
$headline-font:Georgia,
serif;

/* || Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: $text-font;
    line-height: 1.7em;
}
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.button {
    background-color: $secondary-color;
    border: none;
    color: white;
    padding: 17px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 20px;
    cursor: pointer;
}
/* || Tipografia */
h1 { font-family: $text-font;font-size: 82px;font-weight: 400;color:$theme-color; }
h2 { font-family: $text-font;font-size: 60px; font-weight: 700;line-height: 1; color:$theme-color;}
h3 { font-family: $text-font;font-size: 40px;font-weight: 400;color:$theme-color; }
h4 { font-family: $text-font;font-size: 30px;font-weight: 700;color:$theme-color; }
h4 { font-family: $text-font;font-size: 30px;font-weight: 400; color:$theme-color;}
h5 { font-family: $text-font;font-size: 26px;font-weight: 600;color:$theme-color; }
h6 { font-family: $text-font;font-size: 20px;font-weight: 700;color:$theme-color; }
p { font-family: $text-font;font-size: 14px;font-weight: 400;color:$theme-color; }

a {
    color: $link-color;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.bold { font-weight: bold; }

// Estilo Principal
header {
    position: fixed;
    z-index: 10000;
    width: 100vw;
}
// Variáveis de Navegação
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #fff;
$nav-font-color: #707070;
$link-hover-color: $primary-color;
// Wrapper de navegação externa
.navigation {
    height: $nav-height;
    background: $nav-background;
}

// Logo & branding
.brand {
    z-index: 10;
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: $nav-height;
    text-transform: uppercase;
    font-size: 1.4em;
    a,
    a:visited {
        color: $nav-font-color;
        text-decoration: none;
    }
}

#logo {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: $primary-color;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#logo {
    img {
        display: block;
        margin: auto;
    }
}

// Container sem padding para navbar
.nav-container {
    margin: 0 auto;
}

.subnav_text {
    display: flex;
    flex-wrap: wrap;
    div {
        margin-right: 16px;
    }
}

.subnav {
    padding: 0 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #F6F6F6;
    min-height: 32px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.submenu_icons {
    a {
        color: rgba(0, 0, 0, 0.6);
    }
    i {
        margin-left: 16px;

    }

}

// Navegação
.navigation {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.15);
}

nav {
    float: right;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            float: left;
            position: relative;
            a,
            a:visited {
                display: block;
                padding: 0 20px;
                line-height: $nav-height;
                background: $nav-background;
                color: $nav-font-color;
                text-decoration: none;
                &:hover {
                    background: $link-hover-color;
                    color: #fff;
                }
                &:not(:only-child):after {
                    padding-left: 4px;
                    content: ' ▾';
                }
            } // Dropdown
            ul li {
                min-width: 190px;
                
                a {
                    padding: 15px;
                    line-height: 20px;
                }
            }
        }
    }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}


/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: $nav-height;
    width: $nav-height;
}

@media only screen and (max-width: 1280px) {
    // Hamburger nav visible on mobile only
    .nav-mobile {
        display: block;
    }
    nav {
        float: left;
        width: 100%;
        padding: $nav-height 0 15px;
        ul {
            display: none;
            li {
                float: none;
                a {
                    padding: 15px;
                    line-height: 20px;
                    text-align: right;
                }
                ul li a {
                    padding-left: 30px;
                }
            }
        }
    }
    .nav-dropdown {
        position: static;
    }
}
#nav-toggle {
    background: #fff;
    position: absolute;
    left: 18px;
    top: 56px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    span,
    span:before,
    span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: $nav-font-color;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }
    span:before {
        top: -10px;
    }
    span:after {
        bottom: -10px;
    }
    &.active span {
        background-color: transparent;
        &:before,
        &:after {
            top: 0;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}
@media only screen and (max-width: 500px) {
        #nav-toggle {
            position: absolute;
            left: 18px;
            top: 72px;
    }
    .subnav_text {
        justify-content: center;
    }
    .subnav {
        justify-content: center;
    }
  }
  .icon-about{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  }
/* || Footer */

footer {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content:end;
    a{ color:#737373; }
    a:active, a:focus, a:hover{
        color:#8FB569;
        text-decoration:none;
    }
}
.section-footer {
    width: 250px;
}
.footerabout{
    width: 350px;
}
.row {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 300px;
}

.site-footer{
  background-color:#0D1B26;
  font-size:15px;
  line-height:24px;
  color:#737373;
  p {
    color:#737373;
  }
}
.site-footer{
    hr{ border-top-color:#bbb; opacity:0.5 }
}
.footer-links{
  padding-left:0;
  list-style:none
}
.footer-links { 
    li{ display:block;border-bottom: 1px solid rgba(255,255,255, 0.1);margin-bottom: 9px; }
}

.copyright-text{ margin:0 }

.site-footer
{
    h6{
        color:#fff;
        font-size:16px;
        text-transform:uppercase;
        margin-top:5px;
        letter-spacing:2px;
    }
}
.footer-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media only screen and (max-width: 1280px) {
    .row {
        justify-content: space-between;
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .row {
        flex-direction:column;
        width: 70%;
        margin: 0 auto;
    }
    .section-footer {
        width: 350px;
        margin-bottom: 50px;
    }
}