@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/* || General styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: Poppins, Verdana, arial, sans-serif;
  line-height: 1.7em;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button {
  background-color: #FB245C;
  border: none;
  color: white;
  padding: 17px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 20px;
  cursor: pointer;
}

/* || Typography */
h1 {
  font-family: Poppins, Verdana, arial, sans-serif;
  font-size: 82px;
  font-weight: 400;
  color: #223645;
}

h2 {
  font-family: Poppins, Verdana, arial, sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  color: #223645;
}

h3 {
  font-family: Poppins, Verdana, arial, sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #223645;
}

h4 {
  font-family: Poppins, Verdana, arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #223645;
}

h4 {
  font-family: Poppins, Verdana, arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #223645;
}

h5 {
  font-family: Poppins, Verdana, arial, sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #223645;
}

h6 {
  font-family: Poppins, Verdana, arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #223645;
}

p {
  font-family: Poppins, Verdana, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #223645;
}

a {
  color: #FB245C;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

header {
  position: fixed;
  z-index: 10000;
  width: 100vw;
}

.navigation {
  height: 70px;
  background: #fff;
}

.brand {
  z-index: 10;
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}

.brand a,
.brand a:visited {
  color: #707070;
  text-decoration: none;
}

#logo {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  /* Material design properties */
  background: #8FB569;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#logo img {
  display: block;
  margin: auto;
}

.nav-container {
  margin: 0 auto;
}

.subnav_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subnav_text div {
  margin-right: 16px;
}

.subnav {
  padding: 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F6F6F6;
  min-height: 32px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.submenu_icons a {
  color: rgba(0, 0, 0, 0.6);
}

.submenu_icons i {
  margin-left: 16px;
}

.navigation {
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.15);
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #fff;
  color: #707070;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background: #8FB569;
  color: #fff;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 1280px) {
  .nav-mobile {
    display: block;
  }
  nav {
    float: left;
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    text-align: right;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}

#nav-toggle {
  background: #fff;
  position: absolute;
  left: 18px;
  top: 56px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #707070;
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media only screen and (max-width: 500px) {
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 100px;
  }
  .subnav_text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subnav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* || Footer */
footer a {
  color: #737373;
}

footer a:active, footer a:focus, footer a:hover {
  color: #8FB569;
  text-decoration: none;
}

.row {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1000px;
}

.footerabout {
  width: 350px;
}

.site-footer {
  background-color: #0D1B26;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer p {
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.copyright-text {
  margin: 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */