/* 
============================================
                Variaveis 
============================================
*/

//////////// Cores \\\\\\\\\\\\

/* ------ Principais ------- */

$text-color: #0D1B26;
$theme-color: #223645;
$primary-color:#8FB569;
$accent-color:#FB245C;
$gray-1: #eee;
$gray-2: #ccc;
$gray-3: #555;
$link-color: $accent-color;

/* ------ Secundarias ------- */

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
//////// Breakpoints \\\\\\\
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;
$content-width: 1200px;
//////////// Fonts \\\\\\\\\\\\
$nav-background: #fff;
$text-font: Poppins,
Verdana,
arial,
sans-serif;

/* 
============================================
                Estilos Gerais 
============================================
*/

hr {
    border-top: 1px solid $text-font;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 100ms ease;
}

html,
body {
    font-family: $text-font;
    line-height: 1.7em;
}

::selection {
    color: $text-color;
    background: $primary-color;
}

.green_button {
    margin: 20px 0;
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 100px;
    cursor: pointer;
}

.line {
    background-color: $primary-color;
    width: 47px;
    height: 5px;
}

.white {
    color: white;
}

figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
    img {
        width: 100%;
    }
}

figcaption {
    font-style: italic;
    padding: 2px;
    text-align: center;
}

video {
    width: 100%;
    height: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.button {
    background: $accent-color;
    border: none;
    color: white;
    padding: 12px 42px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    font-size: 13px;
    margin: 20px 20px;
    cursor: pointer;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb {
    li {
        display: inline;
        font-size: 18px;
    }
}

ul.breadcrumb {
    li+li:before {
        padding: 8px;
        color: #95a3b3;
        content: ">";
    }
}

ul.breadcrumb {
    a {
        color: #95a3b3;
        text-decoration: none;
    }
    .active-link {
        a {
            color: $accent-color;
            background: transparent;
        }
    }
}

.arrow-green {
    background: $primary-color;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    i {
        color: $light;
    }
}


/*
============================================
                Tipografia 
============================================
*/

h1 {
    font-family: $text-font;
    font-size: 82px;
    font-weight: 400;
    color: $theme-color;
}

h2 {
    font-family: $text-font;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    color: $theme-color;
}

h3 {
    font-family: $text-font;
    font-size: 40px;
    font-weight: 400;
    color: $theme-color;
}

h4 {
    font-family: $text-font;
    font-size: 30px;
    font-weight: 700;
    color: $theme-color;
}

h4 {
    font-family: $text-font;
    font-size: 30px;
    font-weight: 400;
    color: $theme-color;
}

h5 {
    font-family: $text-font;
    font-size: 26px;
    font-weight: 600;
    color: $theme-color;
}

h6 {
    font-family: $text-font;
    font-size: 16px;
    font-weight: 700;
    color: $theme-color;
    text-transform: capitalize;
}

p {
    font-family: $text-font;
    font-size: 14px;
    font-weight: 400;
    color: $theme-color;
}

blockquote {
    font-size: 20px;
    font-family: $text-font;
    font-weight: 600;
    font-style: italic;
    p {
        font-size: 20px;
        font-family: $text-font;
        font-weight: 600;
        font-style: italic;
        color: #495057;
    }
    p::before,
    p::after {
        content: "“";
        font-size: 2rem;
        opacity: 0.8;
    }
}

a {
    color: $link-color;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.container {
    width: $content-width;
    margin: 0 auto;
}


/* ----------- Tabelas  ----------- */

table {
    border-collapse: collapse;
    width: 100%;
    td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
        li {
            list-style: none;
        }
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    tr:hover {
        background-color: #ddd;
    }
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: $primary-color;
        color: white;
    }
}

.oddTableRow {
    background-color: rgb(232, 246, 247);
}

.tableRow {
    background-color: #fff;
}

tr:hover {
    background-color: rgba(233, 235, 154, 0.76) !important;
}

.selectedTableRow {
    background-color: rgba(141, 186, 238, 0.76) !important;
}

//
.entry-meta {
    margin-top: 16px;
    a {
        color: $theme-color;
    }
    div {
        margin-right: 16px;
    }
}

.appointment-form {
    margin-top: 100px;
    width: 700px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .flex {
        display: flex;
        justify-content: space-between;
    }
    p {
        color: #000;
        font-size: 16px;
    }
    #FirstName {
        margin-right: 32px;
    }
    .inputs {
        width: 300px;
    }
}

.appointment-time {
    margin-top: 100px;
    background-image: url('../img/usf_lousa.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    p {
        color: #fff;
    }
    h4 {
        color: #fff;
        margin: 32px 0;
    }
    .inner-box {
        height: 100%;
        background: rgba($color: $theme-color, $alpha: .9);
        padding: 32px;
        color: #FFF;
        padding-top: 32px;
    }
}

.signle-time-box {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    .day-name {
        font-weight: 600;
    }
}

.card_number {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: $accent-color;
    border: none;
    color: white;
    font-family: $text-font;
    padding: 15px 32px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.appointment-form_header {
    margin-bottom: 32px;
    h4 {
        text-align: left;
    }
    p {
        color: $gray-3;
    }
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.contact {
    position: relative;
    top: -100px;
    width: 320px;
    height: 320px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.1);
    border: 1px solid $gray-2;
    h5 {
        margin-bottom: 32px;
    }
    .flex {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

.contact-icon {
    position: relative;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    color: #fff;
}

.phone {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 100px;
    ul {
        list-style: none;
    }
}

.map {
    margin-top: 390px;
    width: 100%;
    height: 450px;
    iframe {
        width: 100%;
        height: 100%;
    }
}

.resource {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .resource_img {
        margin-right: 32px;
        img {
            width: 300px;
            height: 255px;
            object-fit: cover;
        }
    }
    .resource_txt {
        ul {
            list-style: none;
        }
        max-width: 70%;
    }
}

.layer {
    .white_box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        width: 50vw;
        height: 57vh;
        color: black;
        background-color: white;
        border: 1px solid;
        padding: 30px;
        border-radius: 15px;
    }
}

@media only screen and (max-width: $breakpoint-xl) {
    .appointment-form {
        width: 100%;
        #FirstName {
            margin-right: 0;
        }
        .inputs {
            width: 100%;
        }
    }
    .appointment-time {
        width: 100%;
        order: -1;
    }
    .appointment-form {
        width: 100%;
    }
    .resource {
        justify-content: center;
        .resource_img {
            order: -1;
            margin-right: 0;
            img {
                width: 100%;
                height: 250px;
            }
        }
        .resource_txt {
            ul {
                list-style: none;
            }
            max-width: 70%;
        }
    }
}

@media only screen and (max-width: $breakpoint-lg) {
    .contacts {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .contact {
        position: relative;
        top: 0;
        margin-top: 100px;
        h5 {
            margin-bottom: 32px;
        }
        .flex {
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    }
}

.post {
    margin: 100px 0;
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 16px 16px 0 0;
    }
    border-radius: 16px;
    background: white;
    .post_txt {
        padding: 32px;
    }
}