.layer {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.Onda {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    filter: invert(50%) sepia(70%) saturate(4500%) hue-rotate(329deg) brightness(97%) contrast(104%);
}

.Onda2 {
    position: fixed;
    top: 0;
    right: -10%;
    height: 100%;
    z-index: -1;
    filter: invert(50%) sepia(70%) saturate(4500%) hue-rotate(329deg) brightness(97%) contrast(104%);
}

.logo {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: scale(0.6);
    z-index: -1;
    filter: invert(50%) sepia(70%) saturate(4500%) hue-rotate(329deg) brightness(97%) contrast(104%);
}

.login {
    .i {
        color: #d9d9d9;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p {
        text-align: right;
        color: #999;
        font-size: 15px;
    }
    a:hover {
        color: #FB245C;
    }
}

.Contentor {
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.profile-pic {
    height: 100px;
}

.login {
    h2 {
        margin: 15px 0;
        color: #333;
        text-transform: uppercase;
        font-size: 45px;
    }
}

#login-form {
    width: 392px;
}

.login .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login .input-div.user {
    margin-top: 0;
}

.input-div>div {
    position: relative;
    height: 45px;
}

.input-div>div>h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.input-div:before,
.input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #FB245C;
    transition: .4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus>div>h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus>.i>i {
    color: #FB245C;
}

.input-div>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 10px 12px;
    font-size: 20px;
    color: #555;
    font-family: 'poppins', sans-serif;
}

.input-div.pass {
    margin-bottom: 4px;
}

.btn-login {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, #d8446b, #FB245C, #cf073d);
    background-size: 200%;
    font-size: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 15px 0;
    cursor: pointer;
    transition: .5s;
}

.btn-login:hover {
    background-position: right;
}

#login-error-msg {
    padding: 20px;
    background-color: $danger;
    color: white;
    display: flex;
    display: none;
    p {
        color: white;
    }
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

@media only screen and (max-width: 1200px) {
    .Onda,
    .logo,
    .Onda2,
    .img {
        display: none;
    }
    .Contentor {
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .medicine {
        display: none;
    }
    .Onda,
    .logo,
    .Onda2 {
        display: none;
    }
    .login {
        justify-content: center;
    }
    .Contentor {
        justify-content: center;
        width: 100%;
    }
}